@model Person


<div class="row d-flex justify-content-center">
    <div class="col-md-6 p-3 ">
        <div class="card">
            <div class="card-body">
                <h3>@Model.FirstName @Model.LastName Details</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.FirstName"></label>
                            <input asp-for="@Model.FirstName" class="form-control" readonly />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.LastName"></label>
                            <input asp-for="@Model.LastName" class="form-control" readonly />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="@Model.Address"></label>
                            <input asp-for="@Model.Address" class="form-control" readonly />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label asp-for="@Model.City"></label>
                            <input asp-for="@Model.City" class="form-control" readonly />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="@Model.State"></label>
                            <input asp-for="@Model.State" class="form-control" readonly />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="@Model.Zip"></label>
                            <input asp-for="@Model.Zip" class="form-control" readonly />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.Ethnicity"></label>
                            <input asp-for="@Model.Ethnicity" class="form-control" readonly />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.Phone"></label>
                            <input asp-for="@Model.Phone" class="form-control" readonly />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <label asp-for="@Model.Email"></label>
                            <input asp-for="@Model.Email" class="form-control" readonly />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="@Model.Age"></label>
                            <input asp-for="@Model.Age" class="form-control" readonly />
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group">
                            <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="Index">Return</a>
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
